<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Micro</title>
    <link rel="stylesheet" type="text/css" media="all" href="../assets/style.css"/>
</head>
<body>
<section>

    <h2> Hi visitor. </h2>
    <h1> You can find your car details or if you want to shell, find the currency with lower rate to shell</h1>

    <div class="pb">
        <a href="/cars">
            <button class="homeBtn">Find your car</button>
        </a>
    </div>

    <div class="pb">
        <label>Shell your crypto</label>
        <a href="/currencies">
            <button class="homeBtn">Buy on Best Rate</button>
        </a>
    </div>


</section>
</body>
</html>
